.DS_Store
.idea/
/SourceGenerators~/SourceGenerators/SourceGenerators.Sample/bin/*
/SourceGenerators~/SourceGenerators/SourceGenerators.Sample/obj/*
/SourceGenerators~/SourceGenerators/SourceGenerators/bin/*
/SourceGenerators~/SourceGenerators/SourceGenerators/obj/*